* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #f0ebe6;
}

.page {
  width: 100%;
  line-height: 1.2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50vh auto 100px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.header {
  grid-area: h;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(./pizza-small.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.inbetween {
  margin-top: 10%;
  z-index: 9;
}

.menu {
  float: right;
  position: absolute;
  top: 20px;
  right: 10px;
  color: rgb(53, 53, 53);
}

.menu-body {
  grid-area: c;
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 80px;
}

.menu-section-title {
  font-family: georgia;
  font-size: 50px;
  display: block;
  font-weight: normal;
  margin: 20px 0;
  text-align: Center;
}

.super {
  font-size: 80px;
  color: rgb(53, 53, 53);
  text-shadow: 0px 1px rgb(92, 92, 92);
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name {
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.5em;
}

.menu-item-price {
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}

.ordina {
  float: right;
  color: rgb(92, 92, 92);
  background-color: none;
  position: relative;
  left: 55px;
  bottom: 20px;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  font-family: arial;
}

.snipcart-checkout,
.home {
  border: none;
  font-size: 18px;
  color: rgb(92, 92, 92);
  background-color: transparent;
}

.footer {
  color: var(--white);
  grid-area: f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #302d2c;
}
.fab {
  padding: 1.2em;
  font-size: 2em;
  margin: 5px 2px;
  color: var(--white);
}

a:link {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: #302d2c;
}

a:visited {
  color: var(--white);
}

a:visited:hover {
  color: #302d2c;
}

.footer img {
  padding-left: 2em;
  align-self: center;
  height: 50%;
}

.footer > p {
  padding-left: 2.5em;
  align-self: center;
}

.footer > .fab {
  align-self: center;
  font-size: 2em;
  color: var(--white);
}

#snipcart {
  visibility: none;
}

/* Mobile Styles */
@media only screen and (max-width: 850px) {
  .menu-body {
    margin-left: 1em;
    margin-right: 1em;
  }

  .ordina {
    position: relative;
    left: 0px;
    bottom: -5px;
  }

  .header {
    background-position: center;
  }

  .super {
    margin-top: 10px;
    font-size: 40px;
  }

  .footer > .fab {
    align-self: center;
    font-size: 2em;
    margin-right: -1em;
    color: var(--white);
    display: none;
  }
}
