* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --white: #f0ebe6;
  }

.page {
  width:100%;
  display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh 120vh 100px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.section {
  grid-area: h;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  scroll-behavior: smooth;
}


.header {
  min-height: 100vh;
  justify-content: inherit;
  align-items: inherit;
  background-image: url(./Mano.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.social {
  position: absolute;
  top: 20px;
  right: 10px;
}

.fab {
  padding: 1.2em;
  font-size: 2em;
  margin: 5px 2px;
  color: var(--white);

}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);


}

.logo {
  font-family: 'Avenir Next', 'Avenir', sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: var(--white);
}

.logo img {
  width: 70%;
  padding-left: 10%

}

.buttons {
  font-family: 'Avenir Next', 'Avenir', sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  color: var(--white);
  border-color: inherit;
  line-height: 3em;
  padding-right: 20%;
  white-space: nowrap;
}

.button {
  text-align: center;
  border: 2px solid;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 10px;
}

a:link {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: #302d2c;
}

a:visited {
  color: var(--white);
}

a:visited:hover {
  color: #302d2c;
}

.button:hover {
  background-color: var(--white);
  color: #302d2c;
}

.Storia {
  grid-area: c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.Descrizione {
  padding-top: 1em;
  flex: 1;
  align-self: center;
  font-family: 'Calligraffitti', serif ;
  text-align: center;
}

.Descrizione > p {
  align-self: center;
  overflow: hidden;
  max-width: 75ch;
  padding-top: 2em;
  padding-bottom: 2em;
}

.pizza {
  display: block;
  margin: 5% auto auto 5%;
  width: 30%;
}

.footer {
  color: var(--white);
  grid-area: f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #302d2c;
}

.footer img {
  padding-left: 2em;
  align-self: center;
  height: 50%;
}

.footer > p {
  padding-left: 2.5em;
  align-self: center;
}

.footer > .fab {
  align-self: center;
  font-size: 2em;
  color: var(--white);
}


/* Mobile Styles */
@media only screen and (max-width: 450px) {
  .pizza {
    width: 90%;
  }
  .Storia {
    flex-direction: column;
  }

  .footer > .fab {
    align-self: center;
    font-size: 2em;
    margin-right: -1em;
    color: var(--white);
  }
  .mobile {
    display: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .logo img {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .logo img {
    width: 50%;
  }
  .page {
      grid-template-rows: 100vh 100vh 100px;

  }
}
